.pag-ul{
    display: flex;
    gap: 10px;
    align-self: flex-end;
    list-style: none;
    margin-top: 20px;
    
}
ul li:enabled{
    border: 1px solid black;
}



.pag-li-active{
    font-size: 18;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E86FF;
    background-color: #1E86FF;
    color: #fff !important;
}
.pag-li{
    font-weight: bold;
    border: 1px solid #B9BDCF;
    color: #B9BDCF;
    font-size: 18;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pag-li:hover{
    border-color: #1E86FF;
    color: #1E86FF;
}
.pag-dots{
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 20px;
}

@media (max-width: 900px){
    .pag-li-active{
        font-size: 18;
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #1E86FF;
        background-color: #1E86FF;
        color: #fff !important;
    }
    .pag-li{
        font-weight: bold;
        border: 1px solid #B9BDCF;
        color: #B9BDCF;
        font-size: 18;
        width: 35px;
        height: 35px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}