.job-item{
    width: 790px;
    height: 114px;
    display: flex;
    align-items: center;
    background-color: #fff !important;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.company-logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin: 10px;
}

.job-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex: 1;
    height: 100px;
}
.company-name{
    color: #334680;
    font-size: 12px;
    font-weight: bolder;
}
.job-title{
    color: #334680;
    font-size: 18px;
}
.job-type{
    padding: 5px 7px;
    border: 1px solid #334680;
    border-radius: 4px;
    width: max-content;
    font-size: 14px;
    text-transform: capitalize;
}
.job-company-logo{
    display: flex;
}
.job-info{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    color: #B7BCCE;
}

.job-info-location{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 900px){
    .job-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: flex-start;
    }
}