.main-containt{
    display: flex;
}

.main-left{
    flex: 2;
    height: 100vh;
}
.main-full{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;

}

.main-full input{
    width: 18px;
    height: 18px;
}
.main-full h6{
    font-size: 14px;
}

.main-location{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-location h4{
    color: #B9BDCF;
    font-size: 14px;
    text-transform: uppercase;
    margin: 14px 0;
}

.main-search-input{
    font-size: 12px;
    height: 48px;
    padding-left: 40px;
    color: #B9BDCF;
    border: none;
    outline: none;
}
.main-search-input:hover{
    font-size: 12px;
    height: 48px;
    padding-left: 40px;
    color: #B9BDCF;
    border: 1px solid blue;
}

.location-icon{
    color: #B9BDCF;
    font-size: 20px;
    position: absolute;
    top: 58px;
    left: 10px;
}

.location-area{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 420px;
    overflow-y: scroll;
}

.location-area::-webkit-scrollbar{
    width: 10px;
}
.location-area::-webkit-scrollbar-track{
    background-color: #fff;
}
.location-area::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #334680;
}

.location-radio{
    display: flex;
    align-items: center;
    gap: 5px;
}
.location-radio input{
    width: 18px;
    height: 18px;
}
.location-radio label{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #334680;
    font-weight: bold;
}
.main-right{
    height: 100%;
    flex: 4;
    padding: 20px;
}


@media (max-width:900px){
    .main-containt{
        display: flex;
        flex-direction: column;
        width: auto;
        max-width: 100%;
    }
      
    .location-area{
        height: 220px;
    }
    .main-right{
        margin-top: 20px;
        padding: 0;
    }
}