.search-bar{
    position: relative;
    height: 138px;
    width: 1201px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.bg-image{
    width: 1201px;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(50% 50%);
    z-index: -1;
}

.search-input{
    width: 790px;
    padding: 19px;
    outline: none;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
}
.search-select{
    height: 46px;
    width: 146px;
    border-radius: 4px;
    border: none;
    background-color: #1E86FF;
    color: #fff;
    position: absolute;
    cursor: pointer;
    font-size: 13px;
    left: 846px;
    top: 47px;
    outline: none;
    padding-left: 5px;
}

.search-bag{
    position: absolute;
    left: 220px;
    top: 60px;
    
}
@media (max-width: 900px){
    .search-bar{
        position: relative;
        width: auto;
        max-width: 100%;
        height: 210px;
    }
    .bg-image{
        max-width: 100%;
        height: 138px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: translate(50% 50%);
        margin: auto;
        border-radius: 4px;
    }
    .search-input{
        position: absolute;
        width: 90%;
        margin: auto;
        padding-left: 25px;
    }
    .search-button-btn{
        right: 20px;
    }
    .input-method{
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        
    }
    .search-select{
        position: absolute;
        right: 5.5%;
        left: auto;
        top: -23px;
    }
    .search-bag{
        left: 5.5%;
        top: -8px;
        z-index: 1;
    }
}